@model UserDTO

@{
    Model.Username = string.Empty;
    Model.Password = string.Empty;
}

<script src="~/js/user/user.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "postForm" }))
            {
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h4>Kullanıcı Düzenle</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Sıra No</span>
                            @Html.TextBoxFor(x => x.Id, new { type = "text", @class = "form-control disabled", placeholder = "Sıra No", ariaLabel = "Sıra No", disabled = "disabled" })
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="userRoleSelect" name="UserRoleId" aria-label="Kullanıcı Rolü">
                                    @foreach (var userRole in (ViewBag.UserRole as List<UserRoleDTO>))
                                    {
                                        if (userRole.Id == Model.UserRole.Id)
                                        {
                                            <option value="@userRole.Id" selected>@userRole.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@userRole.Id">@userRole.Name</option>
                                        }
                                    }
                                </select>
                                <label for="userRoleSelect">Kullanıcı Rolü</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Adı</span>
                            @Html.TextBoxFor(x => x.Name, new { type = "text", @class = "form-control", placeholder = "Adı", ariaLabel = "Adı", id = "name", required = "required" })
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Soyadı</span>
                            @Html.TextBoxFor(x => x.Surname, new { type = "text", @class = "form-control", placeholder = "Soyadı", ariaLabel = "Soyadı", id = "surname", required = "required" })
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Kullanıcı Adı</span>
                            @Html.TextBoxFor(x => x.Username, new { type = "text", @class = "form-control", placeholder = "Kullanıcı Adı", ariaLabel = "Kullanıcı Adı", id = "username", required = "required" })
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Şifre</span>
                            @Html.PasswordFor(x => x.Password, new { type = "text", @class = "form-control", placeholder = "Şifre", ariaLabel = "Şifre", id = "password", required = "required" })
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-check">
                                @Html.CheckBoxFor(x => x.IsActive, new { type = "checkbox", @class = "form-check-input", value = "", id = "isActive" })
                                <label class="form-check-label" for="isActive">
                                    Aktif Mi
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-end">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                            <a href="@Url.Action("Index")" class="btn btn-secondary">İptal</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>